<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Inicio</title>
</head>
<body>
    <div class="container-fluid min-vh-100 d-flex flex-column">
        <div class="row flex-grow-1">
            <div class="col-md-3 align-items-center">
                <div class="row mx-auto">
                    <a href="index.html">
                        <img src="logo.jpg" class="rounded">
                    </a>                     
                </div>
                <br>
                <div class="row mx-auto">
                    <a class="btn btn-secondary" href="tableTransactions.html" role="button">Ingresos y egresos</a>                   
                </div>
                <br>
                <div class="row mx-auto">
                    <a class="btn btn-secondary" href="tableUsers.html" role="button">Usuarios</a> 
                </div>
                <br>
                <div class="row mx-auto">
                    <a class="btn btn-secondary" href="tableEnterprises.html" role="button">Empresas</a>  
                </div>                   
            </div>

            <div class="col-md-9">
                <br>
                <div class="row">
                    <h1 class="text-center">Sistema de gestión de ingresos y egresos</h1> 
                </div>  
                <br>
                <div class="row">
                    <h3 class="text-center">Usuarios</h3> 
                </div>
                <br>
                <a class="btn btn-secondary" href="newUser.html" role="button">Nuevo</a> 
                <br><br>
                <div class="row">
                    <div class="col-sm-1 align-items-center"><br></div>
                    <div class="col-sm-10 align-items-center">
                        <table class="table text-center">
                            <thead class="table-primary">
                              <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Dirección</th>
                                <th scope="col">Teléfono</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Mark</td>
                                <td>Mark</td>
                                <td>Otto</td>
                              </tr>
                            </tbody>
                          </table>   
                    </div>
                    <div class="col-sm-1 align-items-center"><br></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
</body>
</html>